GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_APPLICATION_CREDENTIALS=.secrets/google_service_account.json
GOOGLE_SERVICE_ACCOUNT_JSON_B64=
WECOM_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=replace-me
DEEPSEEK_API_KEY=
DEEPSEEK_ENABLED=0
SCRAPLING_ENABLED=1
SCRAPLING_FETCHER=stealthy
SCRAPLING_SOLVE_CLOUDFLARE=1
SCRAPLING_TIMEOUT_MS=60000
SCRAPLING_WAIT_MS=2500
SCRAPLING_NETWORK_IDLE=0
SCRAPLING_CAPTURE_XHR=(?i)(sightmap|doorway-api|knockrentals|rentcafe|ysi|floorplan|availability|available|unit|units|inventory|pricing|property)
